<div class="flash-card-container" (click)="toggleFlip()">
    <mat-card class="flash-card" [class.flipped]="isFlipped">
      <!-- ด้านหน้า -->
      <div class="card-face card-front">
        <h2>{{ flashCard.frontTitle }}</h2>
      </div>
      <!-- ด้านหลัง -->
      <div class="card-face card-back">
        <img [src]="flashCard.backImage" alt="Image" />
        <h3>{{ flashCard.backTitle }}</h3>
      </div>
    </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%; max-width: 400px; margin: 0 auto; padding: 16px;">
    <button mat-raised-button color="warn">จำไม่ได้</button>
    <button mat-raised-button color="primary">จำได้แล้ว</button>
</div>
  