@use '@angular/material' as mat;

html, body {
  height: 100%;
  font-family: Mali, 'Mali', sans-serif;

  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$orange-palette,
      ),
      typography: Mali,
      density: 0,
    )
  );
}