<div class="container" fxLayout="column" fxLayoutAlign="start stretch" style="height: 100vh;">
    <div *ngIf="!selectedCategory" class="header" fxLayoutAlign="center center" style="justify-content: flex-end; height: 10%;">
        <button mat-raised-button color="primary" routerLink="/settings">
            <mat-icon style="margin: 0;">settings</mat-icon>
        </button>
    </div>
    <div *ngIf="!selectedCategory" class="body" fxLayout="column" fxLayoutAlign="center stretch" style="padding: 16px; height: 80%;">
        <app-category-select (categorySelected)="onCategorySelected($event)"></app-category-select>
    </div>

    <div *ngIf="selectedCategory">
        <!-- แสดง Flash Card -->
        <app-flash-card
            [category]="selectedCategory"
            [isReversed]="isReversed"
            [isShowDescription]="isShowDescription"
            (resetCategory)="resetCategory()">
        </app-flash-card>
    </div>
</div>